@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}



.invoice_nav{
    display: flex;
        justify-content: space-between;
    align-items: center;
        padding: 0 7%;
        padding-block: 50px;
background-color: #2a4047;
color: #fff;
}

.invoice-details{
    padding: 0 7%;
}

.invoice_grid{
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
}

        table {
            border-collapse: collapse;
            width: 100%;
        }
    
        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        th {
            background-color: #f2f2f2;
        }
    
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .last{
            display: flex;
            justify-content: space-between;
            padding: 0 7%;
            margin-block: 50px;
        }
.terms h2{
        text-align: center;
        margin-bottom: 20px;
}
        .terms{
        
            padding: 0 7%;
            margin-top: 50px;
          
        }
        ol{
            padding: 0 30%;
        }

                /* CSS for printing */
                @media print {
                    body {
                        -webkit-print-color-adjust: exact;
                        /* For Chrome and Safari */
                        background-color: #ffffff;
                        /* Set the background color */
                    }
        
                    /* Add more styles for printing as needed */
                    /* For example, you might want to adjust font colors and sizes for better readability when printed */
                }